/* styles.css */
.backgroundImage {
    -fx-background-image: url("images/image.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: #2d5e93;
}
.hide{
    -fx-background-color: #000000;
    -fx-opacity: 0;
    /*-fx-text-fill: transparent;*/
}