/* styles.css */
@font-face {
    font-family: 'Pixel Font';
    src: url('fonts/pixel-font.ttf');
}

.backgroundImage {
    -fx-background-image: url("images/tvbackground.gif");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: #c42847;
    -fx-text-fill: white;
}
.menuButton{
    -fx-background-color: #C42847;
    -fx-background-radius: 5;
    -fx-text-fill: #FBF5F3;
    -fx-padding: 10 20;
    -fx-font-size: 1.5em;
    -fx-border-color: #C42847;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, #C42847, 20, 0, 0, 0);
}
.menuButton:hover {
    -fx-opacity: 1;
}
.hide{
    -fx-background-color: #000000;
    -fx-opacity: 0;
    /*-fx-text-fill: transparent;*/
}
.splashText {
    -fx-font-size: 32px;
    -fx-text-fill: #e28413;
    -fx-font-family: 'Press Start 2P'; /* You need to use a pixel font */
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
}
.splashText:hover {
        -fx-effect: dropshadow(gaussian, #ffae4f, 40, 0, 0, 0);
}
.titleImg {
    -fx-opacity: 0.7;
}